*{
   font-family: "Mulish", sans-serif;
   font-optical-sizing: auto;
   margin: 0px;
   max-width: 1500;
}
:root{
    --primary-color:#FF5400;
}
header{
    padding: 60px 130px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.title{
    font-size: 2.25rem;
    font-weight: 800;
}
.title-color{
    color: var(--primary-color);
}
.nav-ul{
    display: flex;
    gap: 28px;
}
.nav-li{
    list-style: none;
    font-size: 1.125rem;
    font-weight: 400;
}
.nav-li , a{
    text-decoration: none;
    color: #424247;
}
nav ul li a:hover{
    background: var(--primary-color);
    border: 0px solid;
    color: #FFF;
    padding: 12px;
    border-radius: 5px;
}
.active{
    color: var(--primary-color);
}
.banner{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px;
    position: relative;
    margin-top:50px ;
}
.banner-contain{
    position: relative;
    z-index: 10 ;
}
.banner-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    z-index: 10;
}
.banner-pera{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 16px 0px;
}
.banner-item-selection{
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30); 
    margin: 40px auto ;
    padding: 16px;  
    display: flex; 
    justify-content: space-evenly;
    position: relative;
    z-index: 10 ;
}
.where{
    border-radius: 8px;
    background:  #fff;
    font-size: .85rem;
    font-style: normal;
    font-weight: 400;
    padding: 16px 0px 16px 16px ;
    border: 0px solid ;
}
.select{
    color: #13131880;
    font-size: .85rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 60px 16px 16px;
    border: 0px solid;
}
.type{
    color: #13131880;
    font-size: .85rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 80px 16px 16px;
    border: 0px solid;
}
.button-find{
}
.find{
    display: flex;
    font-size: .89rem;
    font-weight: 700;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    padding-right: 40px  ;
    padding-left: 30px;
    border: 0px solid;
    gap: 10px;
}
.find img {
    padding-top: 12px;
}
.find p{
    margin: 14px 0px;
}
.bag-grd{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
/* main  */
main{
    padding: 60px 130px;
}
/* popular tours  */
.popular-tours{
    display: flex;
    gap: 80px;
}
.popular-title{
    font-size: 40px;
    font-weight: 800;
}
.popular-pera{
    color: #131318B2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.popular-li{
    color: #131318B2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.read{
    margin-top: 24px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    padding: 14px 40px;
    font-size: .99rem;
    font-weight: 600;
    border: 0px solid;
}
/* destination  */
.description{
    text-align: center;
    margin-top: 100px ;
    margin-bottom: 48px;
}
.descr-title{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 10px 0px ;
}
.descr-pera{
    color: #13131880;
    font-size: .85rem;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: auto;
}
.destination-places{
    margin-top: 50px;
}
.places{
    display: flex;
    gap: 16px;
    padding-bottom: 12px;
}
.places-img{
    width: 100%;
    height: 300px;
}
.places-div{
    position: relative;
    flex-grow: 1;
}
.places-name1{
    position: absolute;
    left: 39%;
    top: 32%;
    z-index: 5;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}
.places-div2{
    position: relative;
    flex-grow: 1;
}
.places-name2{
    position: absolute;
    left: 39%;
    top: 32%;
    z-index: 5;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}
.rect6{
    flex-grow: 2;
    position: relative;
}
.name6{
    position: absolute;
    left: 38%;
    top: 30%;
    color: #FFF;
    font-size: 1.5rem;
}
.rect7{
    flex-grow: 3;
    position: relative;
}
.name7{
    position: absolute;
    color: #FFF;
    font-size: 1.5rem;
    top: 30%;
    left: 34%;
}
.rect9{
    flex-grow: 1;
    position: relative;
}
.name9{
    position: absolute;
    color: #FFF;
    font-size: 1.5rem;
    top: 32%;
    left: 35%;
}
.rect11{
    flex-grow: .8;
    position: relative;
}
.name11{
    position: absolute;
    color: #FFF;
    font-size: 1.5rem;
    top: 30%;
    left: 34%;
}
.rect10{
    flex-grow: 1;
    position: relative;
}
.name10{
    position: absolute;
    color: #FFF;
    font-size: 1.5rem;
    top: 30%;
    left: 38%;
}
/* card item styles? */

/* card-hotels */
.tow-card{
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.hotels{
    padding: 32px 52px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.hotel-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0px ;
}
.hotel-pera{
    color: #131318B2;
    font-size: .85rem;
    font-weight: 400;
    margin: 0px;
    width: 486px; 
}
.service{
    padding: 32px 52px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.service-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0px ;
}
.service-pera{
    color: #131318B2;
    font-size: .85rem;
    font-weight: 400;
    margin: 0px;
    width: 486px;
}
.best-price{
    padding: 32px 52px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: fit-content;
    margin: 24px auto ;
}
.price-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0px ;
}
.price-pera{
    color: #131318B2;
    font-size: .85rem;
    font-weight: 400;
    margin: 0px;
    width: 486px;
}
/* offer related styles  */
.offer{
    position: relative;
    padding-top: 24px;
}
.group img{
    width: 100%;
}
.box1{
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 5;
    width: 580px;
}
.box2{
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 5;
    width: 580px;
}
.date{
    display: flex;
}
.date img{
    width: 24px;
    height: 24px;
}
.day{
    margin: 2px;
    padding: 0px 24px 0px 8px ;
    color: #5A5A5D;
}
.box-title{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 16px 0px;
}
.box-pera{
    font-size: .90rem;
    font-weight: 400;
    color: #5A5A5D;
}
.price{
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 16px 0px;
}
.book-now{
    border-radius: 8px;
    background: var(--primary-color);
    padding: 14px 25px;
    color: #FFF;
    border: 0px solid;
    font-size: .85rem;
    font-weight: 600;
}
.all-button{
    text-align: center;
    padding: 60px 0px;
}
.all{
    border-radius: 8px;
    background: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFF;
    padding: 14px 22px;
    border: 0px solid;
    margin: auto;
}
/* Perfect Place  */
.perfect-place{
    display: flex;
    gap: 28px;
    justify-content: space-between;
}
.simple-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0px 0px 24px;
}
.simple-pera{
    width: 532px;
    font-size: .99rem;
    font-weight: 500;
    color: #13131880;
}
.simple-ul li{
    font-size: .95rem;
    font-weight: 700;
    margin: 24px 0px ;
}
.video video{
    width: 100%;
    border-radius: 8px;
}
/* .news-letter styles */
.news-letter{
    display: flex;
    gap: 24px;
    padding: 100px 0px;
}
.letter{
    border: 1px solid var(--primary-color);
    padding: 40px;
    border-radius: 8px;
}
.letter-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px 0px;
}
.letter-pera{
    color: #13131880;
    font-size: .99rem;
    width: 350px;
}
.hr{
    background: #5A5A5D;
    width: 422px;
    height: 0.1px;
    margin: 24px 0px;
}
.label input{
    display: block;
    margin-top: 16px;
}
.enter{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-size: .85rem;
    font-weight: 400;
    color: #131318B2;
    border: 0px solid;
    width: -webkit-fill-available;
    padding: 16px;
}
.sub{
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #FFF;
    border: 0px solid;
    width: -webkit-fill-available;
    padding: 16px;
}
.news-pic{
    position: relative;
}
.news-pic img{
    width: 730px;
    height: 422px;
    flex-shrink: 0;
}
.save{
    position: absolute;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    background-color: var(--primary-color);
    border-radius: 16px;
    text-align: center;
    left: 53%;
    top: 50%;
}
.com{
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    margin: 4px 0px;
    padding-top: 24px;
}
.up{
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
    margin: 4px 0px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
.end{
    text-align: center;
    padding: 110px 0px;
}
.true{
    display: flex;
    justify-content: center;
}
.true img{
    width: 40px;
    height: 40px;
}
.end-title{
    font-size: 2rem;
    margin: 0px 16px;
    font-weight: 700;
    padding-bottom: 16px;
}
.end-pera{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 769px;
    margin: 0px auto;
}
.end-pic{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-top: 32px;
}
.end-hr{
    width: 872px;
    color: #5A5A5D;
    height: .1px;
    margin: 50px auto;
}
.right{
    color: #5A5A5D;
    font-size: 1rem;
}








/* responsive relative  */
@media screen and ( max-width:576px) {
    header{
        padding: 16px;
    }
    nav{
       flex-direction: column;
    }
    .nav-ul{
        display: none;
        padding-top: 24px;
        gap: 10px;
    }
    .banner{
        padding: 16px;
    }
    .banner-item-selection{
        flex-direction: column;
        gap: 10px;
        margin: 16px;
    } 
    /* main  */
    main{
        padding: 16px;
    }
    /* .popular-tours  */
    .descr-pera{
        width: 100%;
    }
    .popular-tours{
        flex-direction: column;
    }
    .popular-img img{
        width: 100%;
    }
    /* destination  */
    .description{
        margin: 24px 0px;
    }
    .places{
        flex-direction: column;
        gap: 10px;
    }
    .places img{
        height: 182px;
    }
    /* card item  */
    .tow-card{
        flex-direction: column;
    }
    .hotels{
        padding: 32px;
    }
    .hotel-pera{
        width: 100%;
    }
    .service{
        padding: 32px;
    }
    .service-pera{
        width: 100%;
    }
    .best-price{
        padding: 32px;
    }
    .price-pera{
        width: 100%;
    }
    /* offer  */
    .group img{
        width: 100%;
        height: 500px;
    }
    .box1{
        padding:  24px ;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        position: absolute;
        top: 29%;
        left: 5%;
        z-index: 5;
        width: 270px;
    }
    .box2{
        padding: 24px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        position: absolute;
        top: 29%;
        left: 5%;
        z-index: 5;
        width: 270px;
    }
    .date{
        flex-wrap: wrap;
        gap: 8px;
    }
    .day{
        padding: 0px 8px;
    }
    .perfect-place{
        flex-direction: column;
    }
    .simple-pera{
        width: 100%;
    }
    /* .news-letter  */
    .news-letter{
        flex-direction: column;
    }
    .letter-pera{
        width: 100%;
    }
    .hr{
        width: 100%;
    }
    .news-pic img{
        width: 100%;
    }
    .save{
        left: 14%;
        top: 60%;
        width: 80%;
    }
    .end-pera{
        width: 100%;
    }
    .end-hr{
        width: 100%;
    }
}


/* medium devise  */
@media screen and (min-width:576px) and (max-width:1024px) {
    header{
        padding: 48px;
    }
    nav{
       flex-direction: column;
    }
    .nav-ul{
        display: none;
        padding-top: 24px;
        gap: 10px;
    }
    .banner{
        padding: 16px;
    }
    .banner-item-selection{
        flex-direction: column;
        gap: 10px;
        margin: 24px 80px ;
    } 
    /* main  */
    main{
        padding: 48px;
    }
    /* .popular-tours  */
    .descr-pera{
        width: 100%;
    }
    .popular-tours{
        flex-direction: column;
    }
    .popular-img img{
        width: 100%;
    }
    /* destination  */
    .description{
        margin: 24px 0px;
    }
    .places{
        flex-direction: column;
        gap: 10px;
    }
    .places img{
        height: 300px;
    }
    /* card item  */
    .tow-card{
        flex-direction: column;
    }
    .hotels{
        padding: 32px;
    }
    .hotel-pera{
        width: 100%;
    }
    .service{
        padding: 32px;
    }
    .service-pera{
        width: 100%;
    }
    .best-price{
        padding: 32px;
    }
    .price-pera{
        width: 100%;
    }
    /* offer  */
    .group img{
        width: 100%;
        height: 500px;
    }
    .box1{
        padding:  24px ;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        position: absolute;
        top: 29%;
        left: 5%;
        z-index: 5;
        width: 303px;
    }
    .box2{
        padding: 24px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        position: absolute;
        top: 29%;
        left: 5%;
        z-index: 5;
        width: 303px;
    }
    .date{
        flex-wrap: wrap;
        gap: 8px;
    }
    .day{
        padding: 0px 8px;
    }
    .perfect-place{
        flex-direction: column;
    }
    .simple-pera{
        width: 100%;
    }
    /* .news-letter  */
    .news-letter{
        flex-direction: column;
    }
    .hr{
        width: 100%;
    }
    .news-pic img{
        width: 100%;
    }
    .save{
        left: 35%;
        top: 60%;
    }
    .end-pera{
        width: 100%;
    }
    .end-hr{
        width: 100%;
    }  
}